<a href="https://colab.research.google.com/github/JaniceLibbyThomas/dummy/blob/main/CRUD_OPERATION_TASK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Telephone Directory CRUD Operation

# Telephone directory: Perform CRUD operation using mongodb and python.

# You need to

# Import necessary modules.

# Perform CRUD operations to manipulate data in MongoDB. Create, retrieve, update, and delete (CRUD)

# Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.

# Create a collection.

# For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,
# Insert the record into the collection.
# Make a query to find records you just created.
# Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.
# Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

In [5]:
import pymongo
#connecting to mongoDB
myclient = pymongo.MongoClient("mongodb+srv://jane:1234@cluster0.dytvv0d.mongodb.net/?retryWrites=true&w=majority")

#creating new DB
mydb = myclient["CRUD_OPERATION"]

#creating new collection
mycol = mydb["Personal_info"]

In [39]:
#Inserting record into collection
import random
def insert_one():
  try:
    r = random.sample(range(1, 100000), 1)
    Name = input("Enter Name: ")
    phone_number = input("Enter PhoneNumber: ")
    Place = input("Enter Place: ")
    if(len(phone_number)==10 and phone_number.isdigit()==True and Name.isalpha()==True):
      a={"_id":r[0],"Name":Name,"Phone_Number":phone_number,"Place":Place}
      mycol.insert_one(a)
      print("Insertion Done Successfully")
      print("Your Unique ID: ",r[0])
    elif(len(phone_number)!=10 or phone_number.isdigit()==False):
      print('Phone Number must have 10 Digit Number')
    else:
      print("Name should only have Alphabets")

    print("Would you like to Insert again...|| 1. Yes 2. No ||")
    ip = input("Enter 1/2: ")
    if(ip=='1'):
      return insert_one()
    else:
      print("Exit Successfull...")
  except:
    print("Insertion Unsuccessful")

insert_one()

Enter Name: Kyile
Enter PhoneNumber: 6776677667
Enter Place: Jambodia
Insertion Done Successfully
Your Unique ID:  6186
Would you like to Insert again...|| 1. Yes 2. No ||
Enter 1/2: 2
Exit Successfull...

In [40]:
#Find All Records the records inserted
try:

  import pandas as pd
  data=mycol.find()
  df=pd.DataFrame(data)
  display(df)

except:
  print("Find operation Fails")

     _id   Name Phone_Number     Place
0      0  Carol   8767655665   Newyork
1  94517   jane   9876543210   Chennai
2   7334  Grave   9878878787       Hut
3  69314   Lime   8778877887     Egypt
4   6186  Kyile   6776677667  Jambodia

In [36]:
#Modify the record using update_one
def update_one():

  myquery ={"_id":int(input("Enter Your ID: "))}

  print('''Would you like to edit
1. Name
2. Phone_Number
3. Place''')
  ip=input("Enter[1/2/3]: ")
  try:
    if(ip=='1'):
      name =input("Enter the new Name: ")
      if(name.isalpha()==True):
        newvalues ={"$set":{"Name":name}}
        mycol.update_one(myquery,newvalues)
        print("Name Successfully updated")
      else:
        print("Name should only have Alphabets, Try again")
    elif(ip =='2'):
      Phone =input("Enter the new Phone Number: ")
      if(len(Phone)==10 and Phone.isdigit()==True):
        newvalues ={"$set":{"Phone_Number":Phone}}
        mycol.update_one(myquery,newvalues)
        print("Phone Number Updated successfully")
      else:
        print("Phone Number must have 10 Digit Number,Try again")
    elif(ip=='3'):
      newvalues ={"$set":{"Place":input("Enter the new Place: ")}}
      mycol.update_one(myquery,newvalues)
      print("Place updated successfully")
    else:
      print('Invalid Entry try again later')
    
    print("Would you like to Update again...|| 1. Yes 2. No ||")
    ip = input("Enter 1/2: ")
    if(ip=='1'):
      return update_one()
    else:
      print("Exit Successfull...")
  except:
      print("Update Failed !")
    
update_one()

Enter Your ID: 0
Would you like to edit
1. Name
2. Phone_Number
3. Place
Enter[1/2/3]: 1
Enter the new Name: wew2
Name should only have Alphabets, Try again
Would you like to Update again...|| 1. Yes 2. No ||
Enter 1/2: 1
Enter Your ID: 0
Would you like to edit
1. Name
2. Phone_Number
3. Place
Enter[1/2/3]: 1
Enter the new Name: Carol
Name Successfully updated
Would you like to Update again...|| 1. Yes 2. No ||
Enter 1/2: 2
Exit Successfull...

In [33]:
def delete_one():
  try:
    myquery = {'_id':int(input("Enter your ID: "))}
    mycol.delete_one(myquery)
    print("Deleted Successfully")
    print("Would you like to Delete again...|| 1. Yes 2. No ||")
    ip = input("Enter 1/2: ")
    if(ip=='1'):
      return delete_one()
    else:
      print("Exit Successfull...")
  except:
    print("Delete operation Fail")

delete_one()

Enter your ID: 74191
Deleted Successfully